.achievements {
  display: flex;
  flex-direction: column;
  gap: clamp(0.18rem, 0.5vw, 0.96rem);

  padding: clamp(0.18rem, 0.5vw, 0.96rem) 0;
  padding-left: clamp(1.08rem, 3vw, 5.76rem);

  list-style-type: ">   ";
}
