.technology {
  padding: 0 clamp(0.18rem, 0.5vw, 0.96rem);

  border: clamp(0.1rem, 0.1vw, 0.192rem) solid
    var(--color-text-content);
  border-radius: clamp(0.36rem, 1vw, 1.92rem);

  font-size: calc(var(--font-size-content) * 0.8);
  font-weight: 900;
}

.technology > a {
  color: inherit;

  text-decoration: none;
}
