#skills {
  padding-top: var(--padding-section);

  transition-property: padding;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}

#skill-categories {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
