#intro {
  font-size: var(--font-size-content);

  transition-property: font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}
