#header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}
