.heading {
  padding-bottom: clamp(0.1rem, 0.2vw, 0.384rem);

  border-bottom: clamp(0.108rem, 0.3vw, 0.576rem)
    solid var(--color-text-heading);

  color: var(--color-text-heading);

  font-size: calc(var(--font-size-heading) * 0.8);
  font-weight: 100;
  text-transform: uppercase;
}

.heading-first-letter {
  font-size: var(--font-size-heading);
}

.heading > i {
  padding-right: clamp(0.36rem, 1vw, 1.92rem);
}
