.heading {
  padding-bottom: clamp(0.1rem, 0.2vw, 0.384rem);

  border-bottom: clamp(0.108rem, 0.3vw, 0.576rem)
    solid var(--color-text-heading);

  color: var(--color-text-heading);

  font-size: var(--font-size-heading);
  font-weight: 900;
  font-variant: small-caps;
  text-transform: capitalize;
}

.heading .icon {
  padding-right: clamp(0.36rem, 1vw, 1.92rem);

  width: calc(var(--font-size-heading) * 1.1);
}
