@font-face {
  font-family: Play;
  src: url(../assets/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Play;
  src: url(../assets/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

#App {
  width: 100%;
  min-width: 36rem;
  max-width: 192rem;
  height: 141vw;
  min-height: 50.76rem;
  max-height: 270.72rem;

  padding: clamp(2.16rem, 6vw, 11.52rem);

  background-color: var(--color-background);
  color: var(--color-text-content);

  font-family: Play;
}
