@font-face {
  font-family: Play;
  src: url(../assets/fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Play;
  src: url(../assets/fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

#App {
  display: grid;
  grid-template-rows: min-content auto min-content;

  width: 100%;
  min-width: 36rem;
  max-width: 192rem;
  /* height: 141vw; */
  min-height: 50.76rem;
  /* max-height: 270.72rem; */

  padding: clamp(2.16rem, 6vw, 11.52rem);
  padding-bottom: 0;

  box-shadow: 0 0 2rem #000;

  background-color: var(--color-background);
  color: var(--color-text-content);

  font-family: Play, serif;
}

.bold {
  font-weight: 900;
}
