.contact {
  font-size: clamp(0.54rem, 1.5vw, 2.88rem);
}

.contact > a {
  display: flex;
  align-items: center;

  color: var(--color-text-heading);

  text-decoration: none;
}

.contact .icon {
  width: calc(
    clamp(0.54rem, 1.5vw, 2.88rem) * 1.2
  );

  padding-right: clamp(0.18rem, 0.5vw, 0.96rem);
}
