#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}

#name {
  color: var(--color-text-heading);

  padding-bottom: clamp(0.18rem, 0.5vw, 0.96rem);

  font-size: var(--font-size-heading);
  line-height: calc(
    var(--font-size-heading) * 0.7
  );
}

#name * {
  transition-property: font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}

#first-name {
  font-weight: 100;
  text-transform: capitalize;
}

#last-name-first-letter {
  text-transform: uppercase;
}

#last-name {
  font-size: calc(var(--font-size-heading) * 0.8);
  font-weight: 900;
  text-transform: uppercase;
}

#role {
  padding-bottom: clamp(
    0.72rem,
    2vw,
    3.84rem
  ); /* clamp(1.08rem, 3vw, 5.76rem); */

  color: var(--color-text-heading);

  font-size: var(--font-size-sub-heading);
  line-height: calc(
    var(--font-size-sub-heading) * 0.7
  );

  transition-property: padding, font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(
    --transition-timing-function
  );
  transition-delay: var(--transition-delay);
}
