#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pdf-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

#pdf .icon {
  width: var(--font-size-content);
}

#name {
  color: var(--color-text-heading);

  padding-bottom: clamp(0.18rem, 0.5vw, 0.96rem);

  font-size: var(--font-size-name);
  line-height: calc(var(--font-size-name) * 0.7);
}

#first-name {
  font-weight: 100;
  text-transform: capitalize;
}

#last-name {
  font-size: var(--font-size-name);
  font-weight: 900;
  font-variant: small-caps;
  text-transform: capitalize;
}

#role {
  padding-bottom: clamp(0.72rem, 2vw, 3.84rem);

  color: var(--color-text-heading);

  font-size: var(--font-size-role);
  text-transform: capitalize;
  line-height: calc(var(--font-size-role) * 0.7);
}
