#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  width: 100%;
  height: clamp(2.16rem, 6vw, 11.52rem);
}

#author {
  grid-column: 2;

  font-size: calc(var(--font-size-footer) * 0.8);
  text-align: center;
  text-transform: uppercase;
}

.author-name-first-letter {
  font-size: var(--font-size-footer);
}

#updated-on {
  grid-column: 3;

  font-size: calc(var(--font-size-footer) * 0.8);
  text-align: right;
  text-transform: uppercase;
}

#updated-on-date {
  padding-left: clamp(0.18rem, 0.5vw, 0.96rem);

  font-size: calc(var(--font-size-footer) * 0.9);
  font-weight: 900;
}
