.skill-category {
  display: flex;
}

.skill-category-name {
  width: clamp(4.32rem, 12vw, 23.04rem);

  font-size: var(--font-size-content);
  font-weight: bold;
  text-align: right;
  text-transform: capitalize;
}

.skills {
  padding-left: clamp(0.72rem, 2vw, 3.84rem);

  font-size: var(--font-size-content);
}

.skill {
  padding: 0 clamp(0.36rem, 1vw, 1.92rem);

  border-right: clamp(0.1rem, 0.2vw, 0.384rem)
    solid var(--color-text-content);
}

.skill:first-child {
  padding-left: 0;
}

.skill:last-child {
  padding-right: 0;
  border-right: none;
}
