:root {
  --padding-section: clamp(0.36rem, 1vw, 1.92rem);
  --color-text-heading: #000066;
  --color-text-content: #000;
  --color-background: #fff;
  --font-size-name: clamp(
    1.26rem,
    3.5vw,
    6.72rem
  );
  --font-size-role: clamp(0.9rem, 2.5vw, 4.8rem);
  --font-size-heading: clamp(
    1rem,
    2.8vw,
    5.376rem
  );
  --font-size-content: clamp(
    0.63rem,
    1.75vw,
    3.36rem
  );
  --font-size-footer: clamp(
    0.54rem,
    1.5vw,
    2.88rem
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;

  min-width: 36rem;
  min-height: 100svh;

  background-color: #000;
}

#root {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100%;

  scroll-behavior: smooth;
}
